/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    background-image: url('../images/login2.jpg'); /* Background image path */
    background-size: contain; /* Adjusted background size */
    background-position: top center; /* Adjusted background position */
    height: 100vh;
    display: flex;
    justify-content: center; /* Only center horizontally */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 400px;
    padding: 50px 20px; /* Increased top and bottom padding */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1,
h3 {
    margin-bottom: 20px;
}

form {
    display: inline-block;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #6c63ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #554dc7;
}

.login-link {
    margin-top: 10px;
}

.login-link a {
    color: #6c63ff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
